{% extends 'elements/base.html' %}

{% block extracss %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/foundation.min.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/estilo.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/flexslider.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/fancybox.css">
  <script src="{{ MEDIA_URL }}javascripts/modernizr.foundation.js"></script>
{% endblock %}
{% block content %}
      <div class="nine columns">
        <h3 class="label-title"><a href="{% url 'apps.multimidia.views.central_albuns' %}">Galeria de fotos</a></h3>
          <div class="panel sobre">
            <div class="row">
              <div class="twelve columns galeriafotos">
                <h4>{{ album.titulo }}</h4>
                  {% for foto in album.foto_set.all %}
                  <a class="fancybox" rel="gallery1" href="{{ foto.get_foto }}" title="{{ foto.legenda }}">
                    <img src="{{ foto.get_thumb }}" alt="{{ foto.legenda }}" />
                  </a>
                  {% endfor %}
              </div>
            </div>
         </div>
      <h3 class="label-title"><a href="{% url 'apps.multimidia.views.central_albuns' %}">veja mais galerias</a></h3>
          <div class="panel sobre">
            <div class="row">
              <div class="twelve columns galeriafotos">
                  {% for album in albuns %}
                  <a class="fancybox" rel="gallery1" href="{{ album.get_absolute_url }}" title="{{ album.titulo }}">
                    <img src="{{ album.get_small }}" alt="{{ album.titulo }}" />
                  </a>
                  {% endfor %}
              </div>
            </div>
         </div>
      </div>
{% endblock %}

{% block extrajs %}
  <script src="{{ MEDIA_URL }}javascripts/jquery.js"></script>
  <script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>
  <script src="{{ MEDIA_URL }}javascripts/flexslider.js"></script>
  <script src="{{ MEDIA_URL }}javascripts/fancybox.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="{{ MEDIA_URL }}javascripts/app.js"></script>

  <script type="text/javascript">
     $('#main-slider').flexslider({animation: 'fade', controlNav: true, directionNav: true, controlsContainer: '.flex-container', });
  </script>

  <script type="text/javascript">
     $(".fancybox").fancybox({
        openEffect  : 'none',
        closeEffect : 'none'
      });
  </script>
{% endblock %}