{% extends "elements/base.html" %}

{% block title %}Videos{% endblock %}

{% block content %}
      <div class="nine columns">
         <h3 class="label-title"><a href="">Galeria de videos</a></h3>
        <div class="row">
         {% for video in videos %}
          <div  class="six columns">
            <div class="item-videos">
              <h3 class="label-title"><a href="">{{ video.titulo }}</a></h3>
               <div class="flex-video">
                 <iframe width="420" height="312" src="http://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
               </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
            <div class="three columns centered">
                <ul class="pagination">
                    {% if videos.has_previous %}
                        <li class="arrow"><a href="?page={{ videos.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable">&laquo;</li>
                    {% endif %}
                    {% for num in videos.paginator.page_range %}
                        {% ifequal num videos.number %}
                            <li class="current"><a href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if videos.has_next %}
                        <li class="arrow"><a href="?page={{ videos.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="unavailable">&raquo;</li>
                    {% endif %}
                </ul>
            </div>
        </div>

      </div>

{% endblock %}