body{background: #ebebeb;}
header{background: #266e0a;margin-bottom: 15px;}
header #topy{background: #b39800; height: 15px; margin-bottom: 20px;}

h1, h2, h3, h4, h5, h6, p, pre, ul, ol  {list-style:none;}

p{font-size: 13px;line-height: 1.2;margin-bottom: 15px;color: #000;}
a:hover p{color: #1b5e00;}

a{color: black;}
a:hover{color: #1b5e00;}

.mobile-on{display: none;}
.search .lupa{background: url("../images/lupa.png") center no-repeat; border: none; width: 25px; height: 25px; display: block; position: absolute; top: 46%; right: 8%;}

.search {margin-top: 30px;}
#adslide{margin-top:10px;}

.serv i.icon-servidor{background: url("../images/iconservidor.png") center no-repeat; width: 25px; height: 35px; display: block; float: left; margin-right: 10px;}
.serv span{}
section#main section{margin-bottom: 20px;}

.top-bar{background: #2a9500;margin: 0 0 0px 0;min-height: 38px; padding-right: 15px;}
.top-bar ul>li a:not(.button){text-transform: uppercase;line-height: 40px;height: 38px;}
.top-bar ul{height: 38px;}
.top-bar ul>li:not(.name):hover a, .top-bar ul>li:not(.name).active a, .top-bar ul>li:not(.name):focus a{color: white;}
.top-bar ul.serv>li{background: black;}
.top-bar ul.serv>li:not(.name):hover, .top-bar ul.serv>li:not(.name).active, .top-bar ul.serv>li:not(.name):focus{background: rgb(59, 59, 59);}
.top-bar ul.serv>li:not(.name):hover a, .top-bar ul.serv>li:not(.name).active a, .top-bar ul.serv>li:not(.name):focus a{color: white;}
.top-bar ul>li.has-dropdown .dropdown{background: #1b5e00;}
.top-bar ul>li.has-dropdown .dropdown li{background: #1b5e00;padding-top: 5px;}
.top-bar ul>li.has-dropdown .dropdown li:hover{background: #35bc00;}
.top-bar ul>li.has-dropdown .dropdown li a{color: #fff;}
.top-bar ul>li.has-dropdown .dropdown li a:hover, .top-bar ul>li.has-dropdown .dropdown li a:focus{background: #35bc00;color: white;}
.top-bar ul>li:not(.name).active, .top-bar ul>li:not(.name):focus{background: #35bc00;}
.top-bar ul>li.has-dropdown.moved>.dropdown li a:hover{background: #35bc00;}
.top-bar ul>li:not(.name):hover, .top-bar ul>li:not(.name).active, .top-bar ul>li:not(.name):focus{background: #35bc00;}

.bloco-news{background: white;overflow: hidden;display: block;min-height: 213px;margin-bottom: 10px;}
.bloco-news:hover{opacity: 0.8;}
.bloco-news img{display: block;overflow: hidden;width: 100%;}
.bloco-news h3{background: #1b5e00;color: white;font-size: 12px;padding: 5px;margin-top: 0;text-transform: uppercase;}
.bloco-news a p{padding: 0 10px; color: black; line-height: 1.2; font-size: 13px;}

h3.label-title{margin: 0;}
h3.label-titleg{margin-top: 0;}

.sobre p{line-height: 1.6;}

.label-title a{background: #1b5e00; margin-top: 0;padding: 5px 15px; font-size: 13px; text-transform: uppercase; color: white; display: block;}
.label-titleg a{background: #002c69; margin-top: 0;padding: 5px 15px; font-size: 13px; text-transform: uppercase; color: white; display: block;}
.bu a{background: #002c69;}

.bloco-white {background: white; margin: 0; padding: 13px; }
.bloco-white > .item a span{color: gray;font-size: 11px;}

.smallf{height: 106px; display: block; overflow: hidden; margin-bottom: 10px;}
.bigf{height: 225px; display: block;}
.album-thumb {cursor: pointer; float: left; margin: 5px; position: relative; overflow: hidden; width: 100%; }
.album-thumb img {position: absolute; left: 0; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; transition: all 300ms ease-out; }
.album-thumb .caption {background-color: rgba(0, 44, 105, 0.6); position: absolute; color: #fff; z-index: 100; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; transition: all 300ms ease-out; left: 0; font-weight: bold; font-size: 15px; }
.album-thumb .big-caption {width: 400px; height: 236px; top: -237px; text-align: left; padding: 15px; }
.album-thumb .small-caption {width: 270px; height: 236px; top: -237px; text-align: left; padding: 15px; }
.album-thumb:hover .big-caption {-moz-transform: translateY(100%); -o-transform: translateY(100%); -webkit-transform: translateY(100%); transform: translateY(100%); }
.album-thumb:hover .small-caption {-moz-transform: translateY(100%); -o-transform: translateY(100%); -webkit-transform: translateY(100%); transform: translateY(100%); }

#ferramentas li a i{background: url(../images/ferramentas.png) no-repeat 0 0 #ada000; text-indent: -9999em; width: 45px; float: left; -moz-background-size: 95px auto; height: 45px; margin-right: 10px; }
#ferramentas li a:hover { opacity: .8; }
#ferramentas i#i-ouvidoria { background-position: -2px 3px; }
#ferramentas i#i-transparencia { background-position: -2px -60px; }
#ferramentas i#i-telefone { background-position: -2px -130px; }
#ferramentas i#i-licitacao { background-position: -2px -195px; }
#ferramentas i#i-abertura { background-position: -2px -262px; }
#ferramentas i#i-mail { background-position: -3px -328px; }

#mapaobra{margin:20px 0;}
#mapaobra img{display: block;}
#mapaobra a:hover img{opacity: 0.8;}

footer{background: #205e09; padding: 10px 0;}
footer p{color: white; font-size: 12px;}

#social{float: right;}
#social li { display: inline-block; }
#social li a {background: url(../images/icons-social.png) no-repeat 0 0; -webkit-background-size: 150px auto; -moz-background-size: 150px auto; background-size: 150px auto; height: 41px; text-indent: -9999em; width: 30px; }
#social li a:hover { opacity: .8; }
#social #facebook { background-position: 0px 0; }
#social #youtube { background-position: -25px 0; }
#social #twitter { background-position: -54px 0; }
#social #gplus { background-position: -87px 0; }
#social #rss { background-position: -125px 0; }


.flex-video{padding-top: 20px;margin-bottom: 0px;}
.item-videos{margin: 12px 0 ;}

ul.side-nav li{background: #fff3a4;height: 45px;padding: 0px;}
ul.side-nav{padding: 0px 0;}
ul.side-nav li:hover{opacity: 0.8;}
ul.side-nav li a{padding: 0px;}
ul.side-nav li a h6 { float: left; font-size: 12px; width: 105px; margin-top: 12px; }

.flex-direction-nav{top: 62%;width: 88%;left: 10%;display: block;}
.flexslider:hover .flex-prev{left: -5px;}

ul.list-news > .item-news{display: block; min-height: 155px; border-bottom: 1px dotted gray; margin-bottom: 15px;}
ul.list-news > .item-news h5{margin-top: 0px; color: #548242;}

ul.pagination li a {color: #1b5e00; padding: 2px 8px 0px; font-weight: bold; font-size: 12px; font-family: arial; }
ul.pagination li:hover a, ul.pagination li a:focus {background: #EEEEEE; }

#articleTitle h3{font-size: 20px;}
#articleTitle p.subtitulo{font-size: 17px;}
#articleBy p{font-size: 12px;}
#articleDate {margin: 20px 0 10px; font-size: 12px; font-weight: bold; color: black; }
#article_recommend {display: block; height: 40px;}
#articleimg {margin-bottom: 10px;}
.subtitulo {font-size: 20px; color: #444; margin: -10px 0 15px 0; line-height: 1.2; }
.fonte p {color: gray; font-size: 12px; }


.fotodestaque{margin: 5px 15px 5px 0;zoom: 1;overflow: hidden;float: left;width: 320px;}
.fotodestaque img{display: block; width: inherit; height: inherit;}
.fotodestaque strong {background: #EEE; display: block; font-weight: normal; padding: .67em; text-align: left; font-style: italic; font-size: 13px; }

.fotodestaqueH{margin: 10px 15px 5px 0;zoom: 1;overflow: hidden;}
.fotodestaqueH img{display: block;width: 100%;}
.fotodestaqueH strong {background: #EEE; display: block; font-weight: normal; padding: .67em; text-align: left; font-style: italic; font-size: 13px; }



.box-recomendamos h6.categoria{font-size: 17px}
.box-recomendamos h5 a img{display: block;margin-bottom: 5px;}
.box-recomendamos h5 a span{font-size: 15px;}

.item-b{background: #266e0a; padding: 20px; text-align: center; margin-bottom: 10px; }
.item-b:hover{opacity: 0.8;}
.item-b h6{ color: white; font-size: 10px; min-height: 22px;}
.yellow{background: #ada000;}

.galeriafotos a img {margin-bottom: 5px; max-width: 159px; height: 120px; }

.item-equipe{ border-bottom: 1px dotted gray; height:90px;}

.equipeimg{float: left;margin-right: 10px; }

#ops{padding: 37px 0; text-align: center;}

.flex-control-paging li a {width: 80px !important;}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .top-bar ul>li.active, .top-bar ul>li:hover{background: none;}
  .top-bar ul{height: auto;}
  .fotodestaque{margin: 5px 15px 5px 0;zoom: 1;overflow: hidden;float: left;width: 215px;}
   ul.side-nav li a h6 {float: left; font-size: 12px; width: 110px; margin-top: 12px; }

}

@media only screen and (max-width: 767px){
  .top-bar ul>li.active, .top-bar ul>li:hover{background: none;}
  .top-bar ul{height: auto;}
  .mobile-off{display: none;}
  .mobile-on{display: block;}

  .logo h1 {text-align: center;}
  .search {margin-top: 0px;}
  .search .lupa{background: url("../images/lupa.png") center no-repeat; width: 25px; height: 25px; display: block; position: absolute; top: 10%; right: 7%;}

  .fotodestaque{margin: 5px 15px 5px 0;zoom: 1;overflow: hidden;float: left;width: 100%;}

  .flexslider .slides img {width: 100% !important; height: 175px !important; }
 .flex-control-paging li a {width: 15px !important; height: 10px !important;}
 .flex-caption { font-size: 14px !important; line-height: 16px !important; }

  }



