{% extends "elements/base.html" %}

{% block seo %}
    <meta name="description" content="Página de Contato do Portal Oficial da Prefeitura de Floriano" />
    <meta name="keywords" content="contato, contato floriano, site floriano contato, floriano, floriano site, prefeitura floriano, floriano prefeitura" />
{% endblock %}

{% block content %}
    <section id="noticias">
    <div class="nine columns">
        <h3 class="label-title"><a>Entre em contato conosco</a></h3>
          <div class="panel sobre">
            <div class="row">
                    <div class="six columns">
                        <form class="contatos" accept-charset="utf-8" method="post" action="/contato/">{% csrf_token %}
                            <label class="">Assunto</label>
                            <select name="assunto">
                                {% for assunto in assuntos %}
                                    {% ifnotequal selected assunto %}
                                        <option value="{{ assunto }}">{{ assunto|capfirst }}</option>
                                    {% else %}
                                        <option selected="selected">{{ assunto|capfirst }}</option>
                                    {% endifnotequal %}
                                {% endfor %}
                            </select>
                            <hr>
                            <label class="">Nome</label>
                            <input class="" name="nome" maxlength="60" type="text" value="" placeholder="seu nome">
                            <label class="">Email</label>
                            <input class="" name="email" maxlength="100" type="email" value="" placeholder="seu email">
                            <label class="">Telefone</label>
                            <input class="" name="telefone" type="text" maxlength="20" value="" placeholder="0012345678">
                            <label class="">Comentário</label>
                            <textarea class="" name="comentario" id="textarea" placeholder="deixe seu comentário aqui" cols="1000" rows="10" style="height:70px"></textarea>
                            <button type="submit" class="success button small radius">Enviar</button>
                        </form>
                    </div>

                    <div class="six columns">
                        <div class="google-maps">
                            <iframe width="320" height="260" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Pra%C3%A7a+Petr%C3%B4nio+Portela,+S%2FN+Centro+-+Floriano+-+PI+-+64800-000.&amp;aq=&amp;sll=-5.215868,-42.801792&amp;sspn=1.739524,2.469177&amp;ie=UTF8&amp;hq=Pra%C3%A7a+Petr%C3%B4nio+Portela,+S%2FN+Centro+-&amp;hnear=64800-000&amp;ll=-6.762114,-43.010337&amp;spn=0.02057,0.006295&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Pra%C3%A7a+Petr%C3%B4nio+Portela,+S%2FN+Centro+-+Floriano+-+PI+-+64800-000.&amp;aq=&amp;sll=-5.215868,-42.801792&amp;sspn=1.739524,2.469177&amp;ie=UTF8&amp;hq=Pra%C3%A7a+Petr%C3%B4nio+Portela,+S%2FN+Centro+-&amp;hnear=64800-000&amp;ll=-6.762114,-43.010337&amp;spn=0.02057,0.006295&amp;t=m" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
                        </div>

                        <section id="contact-info">
                            <div class="marker">
                                <hr>
                                <p><strong>Endereço</strong></p>
                                <address>
                                    Praça Petrônio Portela, S/N.<br/>
                                    Centro - Floriano - PI - 64800-000.
                                </address>
                            </div>
                        </section>
                    </div>
                </div>
         </div>
      </div>

    </section>
{% endblock %}