{% extends 'elements/base.html' %}
{% block content %}
      <div class="nine columns">
        <div class="row">
          <div  class="six columns">
            <h3 class="label-title"><a href="">Prefeito</a></h3>
              <div class="panel sobre">
                <div class="row">
                  <div class="twelve columns">
                      <img class="equipeimg"src="{{ prefeito.0.get_thumb }}" alt="">
                      <h6>{{ prefeito.0|upper }}</h6>
                      <p><strong>Email:</strong> {{ prefeito.0.email|lower }}</p>
                  </div>
                </div>
             </div>
          </div>

          <div  class="six columns">
            <h3 class="label-title"><a href="">Vice-Prefeito</a></h3>
              <div class="panel sobre">
                <div class="row">
                  <div class="twelve columns">
                      <img class="equipeimg"src="{{ vice.0.get_thumb }}" alt="">
                      <h6>{{ vice.0|upper }}</h6>
                      <p><strong>Email:</strong> {{ vice.0.email|lower }}</p>
                  </div>
                </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div  class="twelve columns">
            <h3 class="label-title"><a href="">Secretarios</a></h3>
              <div class="panel sobre">
                <div class="row">
                  <div class="twelve columns">
                    {% for secretario in secretarios %}
                    <div class="item-equipe">
                      <img class="equipeimg"src="{{ secretario.get_thumb }}" alt="">
                      <h5>{{ secretario }}</h5>
                      <h6>{{ secretario.secretaria }}</h6>
                      <p><strong>Email:</strong> {{ secretario.email|lower }}</p>
                    </div>
                    {% endfor %}
                  </div>
                </div>
             </div>
          </div>


        </div>
      </div>
{% endblock %}