{% extends 'elements/base.html' %}
{% block content %}

    <div class="nine columns">

            <div class="row">
                <div class="twelve columns">
                  <table class="twelve">
                        <thead>
                        <tr>
                            <th>Leis</th>
                            <th>Arquivos</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for objeto in legislacoes %}
                                    <tr>
                                        <td><a href="{{ MEDIA_URL }}{{ objeto.arquivo }}"></a>{{ objeto.nome }}</td>
                                        <td><a href="{{ MEDIA_URL }}{{ objeto.arquivo }}"><img src="{{ MEDIA_URL }}website/images/icon-download.png"></a></td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endblock %}
