{% extends 'elements/base.html' %}
{% block content %}
<div class="nine columns">
        <table id="table_licitacoes">
                  <tbody><tr>
                      <th>Licitação</th>
                      <th>Modalidade</th>
                      <th>Data de Publicação</th>
                      <th>Data de Abertura</th>
                      <th>Edital</th>
                  </tr>
                  {% for licitacao in licitacoes %}
                  <tr>
                      <td>{{ licitacao.titulo }}
                        <p><strong>Objeto:</strong> {{ licitacao.objeto }}</p>
                      </td>
                      <td>{{ licitacao.modalidade }}</td>
                      <td>{{ licitacao.data_publicacao|date:"d/m/Y" }}</td>
                      <td>{{ licitacao.data_abertura|date:"d/m/Y H:i" }}</td>
                      <td><a class="button small secondary" href="{{ MEDIA_URL }}{{ licitacao.edital }}">Baixar Edital</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
        </table>
            <div class="three columns centered">
                <ul class="pagination">
                    {% if licitacoes.has_previous %}
                        <li class="arrow"><a href="?page={{ licitacoes.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable">&laquo;</li>
                    {% endif %}
                    {% for num in licitacoes.paginator.page_range %}
                        {% ifequal num licitacoes.number %}
                            <li class="current"><a href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if licitacoes.has_next %}
                        <li class="arrow"><a href="?page={{ licitacoes.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="unavailable">&raquo;</li>
                    {% endif %}
                </ul>
            </div>
</div>
{% endblock %}