{% extends 'elements/base.html' %}

{% block title %}{% if secao %}{{ secao.nome|capfirst }} {% else %}Últimas Notícias {% endif %}{% endblock %}
{% block content %}
      <div class="nine columns">
        <h3 class="label-title"><a href="{% url 'apps.materias.views.noticias' %}">Noticias</a></h3>
          <div class="panel sobre">
            <div class="row">

              <ul class="list-news columns">
                  {% for noticia in noticias.object_list %}
                <li class="item-news">
                  <div class="row">
                    <div class="four mobile-two columns">
                      {% if noticia.foto %}
                         <img src="{{ noticia.get_thumb_materia }}" alt="{{ noticia.titulo }}">
                     {% endif %}
                    </div>

                    <div class="eight columns">
                      <span>{{ noticia.publicado_em|date:"d/m/Y"}}</span>
                      <a href="{{ noticia.get_absolute_url }}">
                      <h5>{{ noticia.titulo }}</h5></a>
                      <p>{{ noticia.subtitulo }}</p>
                      <a class="more" href="{{ noticia.get_absolute_url }}">Leia Mais &rarr;</a>
                    </div>
                  </div>
                </li>
                {% endfor %}

                </ul>

            </div><div class="row">
            <div class="twelve columns">
              <div class="pagination-centered">
                <ul class="pagination">
                    {% if paginator.has_previous %}
                        <li class="arrow"><a href="?q={{ queryb }}&page={{ noticias.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                    {% for num in noticias.paginator.page_range %}
                        {% ifequal num noticias.number %}
                            <li class="current"><a href="">{{ num }}</a></li>
                        {% else %}
                            {% if num <= noticias.number|add:2 and num >= noticias.number|add:-2 %}
                                <li><a href="?q={{ queryb }}&page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                    {% if paginator.has_next %}
                        <li class="arrow"><a href="?q={{ queryb }}&page={{ noticias.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </div>
              </div>

         </div>


{% endblock %}