{% extends "elements/base.html" %}
{% block content %}
      <section id="container">
      <div class="nine columns">
          <div class="panel sobre">
              <div class="row">
                      <div id="map" style="width: 680px; height: 500px;">
                      </div>
              </div>
          </div>
      </div>
      </section>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" />
    <![endif]-->

    <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
    <script type="text/javascript">
    obras = [
    {% for obra in obras %}{% if obra.lat and obra.lng %}{ 'lat': {{ obra.lat }}, 'lng' : {{ obra.lng }},'endereco': '{{ obra.endereco }}','descricao': '{{ obra.descricao }}','nome': '{{ obra.nome }}' }, {% endif %}{% endfor %}
    ]
    </script>
    <script type="text/javascript" src="/media/javascripts/maps.js"></script>
{% endblock %}