{% extends "elements/base.html" %}

{% block title %}
    {{ servico.nome }}
{% endblock %}

{% block content %}
    <div class="nine columns">
        <h3 class="label-title"><a>{{ servico.nome }}</a></h3>
          <div class="panel sobre">
            <div class="row">
              <div class="twelve columns">
                  {{ servico.descricao|safe }}
              </div>
            </div>
         </div>
      </div>

{% endblock %}