{% extends 'elements/base.html' %}
{% block content %}
      <div class="nine columns">
        <h3 class="label-title"><a href="">Servicos</a></h3>
          <div class="panel sobre">
            <div class="row">
              {% for servico in servicos %}
                {% if forloop.last %}
               <div class="three columns end">
                {% else%}
              <div class="three columns">
                {% endif %}
                <div class="item-b yellow">

                    <a {% if servico.tipo == '0' %} href="{{ servico.get_absolute_url }}" {% else %} href="{{ servico.get_absolute_url }}" target="_blank" {% endif %}>

                      <h1><img src="{{ MEDIA_URL }}{{ servico.icon }}" /></h1>{#   esta linha irá ser trocada#}
                      <h6>{{ servico.nome|upper }}</h6>
                    </a>
                </div>
              </div>
              {% endfor %}


            </div>


         </div>
      </div>
{% endblock %}