{% extends "elements/base.html" %}
{% block content %}

      <div class="nine columns">
        <h3 class="label-title"><a href="">cidade de floriano</a></h3>
          <div class="panel sobre">

            <dl class="tabs">
              <dd class="active"><a href="#simple1">{{ sobre.0.titulo }}</a></dd>
              <dd><a href="#simple2">{{ sobre.1.titulo }}</a></dd>
              <dd><a href="#simple3">{{ sobre.2.titulo }}</a></dd>
              <dd><a href="#simple4">{{ sobre.3.titulo }}</a></dd>
            </dl>
            <ul class="tabs-content">
              <li class="active" id="simple1Tab">
                  <div class="row">
                      <div class="twelve columns">
                        {{ sobre.0.conteudo|safe }}
                      </div>
                  </div>
              </li>

              <li id="simple2Tab">
                <div class="row">
                  <div class="twelve columns">
                        {{ sobre.1.conteudo|safe }}
                  </div>
                </div>

              </li>

                <li id="simple3Tab">
                <div class="row">
                  <div class="twelve columns">
                      {{ sobre.2.conteudo|safe }}
                  </div>
                </div>

              </li>
              <li id="simple4Tab">
                <div class="row">
                  <div class="twelve columns">
                     {{ sobre.3.conteudo|safe }}
                  </div>
                </div>
              </li>
            </ul>


         </div>
      </div>

{% endblock %}