{% extends 'elements/base.html' %}


{% block content %}
      <div class="nine columns">
          <div class="panel sobre">
            <div class="row">
              <div class="twelve columns">
                 <section class="articleConteudo">
                   <article>
                     <div id="articleDate">
                        <!--DATA-->{{ noticia.publicado_em|date:"d/m/Y"}}<!--/DATA-->
                        -
                        <!--HORA-->{{ noticia.publicado_em|date:"H:i"}}<!--/HORA-->
                     </div>


                     <div id="articleTitle">
                         <h3>{{ noticia.titulo }}</h3>
                         <p class="subtitulo">
                             {{ noticia.subtitulo }}
                         </p>
                     </div>

                     <div id="articleBy">
                        {% if noticia.autor %}<p><b>Autor: {{ noticia.autor }}</b></p>{% endif %}
                     </div>

                     <div class="article_recommend mobile-off">
                       <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-action="recommend" data-send="false" data-layout="button_count" data-show-faces="false" fb-xfbml-state="rendered"><span style="height: 20px; width: 120px;"><iframe id="f20c6cf6a" name="ffbc47b74" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?action=recommend&amp;api_key=&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D27%23cb%3Df2ba210974%26domain%3Dg1.globo.com%26origin%3Dhttp%253A%252F%252Fg1.globo.com%252Ff3dd79e7b%26relation%3Dparent.parent&amp;colorscheme=light&amp;extended_social_context=false&amp;href=http%3A%2F%2Fg1.globo.com%2Fsc%2Fsanta-catarina%2Fnoticia%2F2013%2F09%2Fvideo-mostra-momento-do-acidente-que-matou-avos-e-neto-em-blumenau.html&amp;layout=button_count&amp;locale=pt_BR&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=130" style="border: none; overflow: hidden; height: 20px; width: 120px;"></iframe></span></div>
                     </div>
                     {% if noticia.foto %}
                     <div class="fotodestaque">
                       {% if noticia.credito %}<strong >Créditos: {{ noticia.credito }}</strong>{% endif %}
                       <img alt="{{ noticia.legenda }}" height="225" src="{{ noticia.get_image_materia }}" title="{{ noticia.legenda }}" width="300">
                       {% if noticia.legenda %}<strong>{{ noticia.legenda }}</strong>{% endif %}
                     </div>
                     {% endif %}
                     <div class="articleTexto">
                        {{ noticia.texto|safe }}
                     </div>

                    {% if noticia.album %}
                    <div class="fotodestaqueH">
                      <h5>Clique na imagem abaixo e veja todas as fotos!</h5>
                      {% if noticia.album.creditos %}<strong >Créditos: {{ noticia.album.creditos }}</strong>{% endif %}
                       <a href="{{ noticia.album.get_absolute_url }}"><img src="{{ noticia.album.get_big }}"></a>
                    </div>
                    {% endif %}
                    <hr>

                     <div class="row">
                       <div class="twelve columns">
                         <span class="label-title"><a href="">Recomendamos para você »</a></span>
                         <div class="row">
                             {% for relacionada in relacionadas %}
                            <div class="six columns">
                              <div class="box-recomendamos">
                                <h5>
                                  <a href="{{ relacionada.get_absolute_url }}">
                                  {% if relacionada.foto %}
                                    <img src="{{ relacionada.get_image_medium_materia }}" alt="{{ relacionada.titulo }}">
                                  {% endif %}
                                      <span>{{ relacionada.titulo }}</span>
                                  </a>
                                </h5>
                              </div>
                            </div>
                            {% endfor %}

                         </div>
                       </div>
                     </div>

                     <div class="comentarios mobile-off">
                        <div class="comentarios mobile-off">
		        <div class="fb-comments" data-href="http://www.floriano.pi.gov.br{{ request.get_full_path }}" data-width="650" data-num-posts="2"></div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=393767570714772";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

                 </div>

                     </div>
                   </article>
                 </section>
              </div>
            </div>
        </div>
      </div>

{% endblock %}