<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Prefeitura de Floriano{% endblock %}</title>

    {# CSS #}
    {% block extracss %}
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/foundation.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/estilo.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/flexslider.css">
    <script src="{{ MEDIA_URL }}javascripts/modernizr.foundation.js"></script>
    {% endblock %}
</head>
<body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45439819-2', 'pi.gov.br');
      ga('send', 'pageview');

    </script>
    {% include 'elements/header.html' %}
    <section id="main">
    <div class="row">
    {% block content %}{% endblock %}
    {% include 'elements/sidebar.html' %}
    </div>
    </section>
    {% include 'elements/footer.html' %}

    {# JS #}
    {% block extrajs %}
    <!-- Included JS Files (Compressed) -->
    <script src="{{ MEDIA_URL }}javascripts/jquery.js"></script>
    <script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>
    <script src="{{ MEDIA_URL }}javascripts/flexslider.js"></script>

    <!-- Initialize JS Plugins -->
    <script src="{{ MEDIA_URL }}javascripts/app.js"></script>

    <script type="text/javascript">
     $('#main-slider').flexslider({animation: 'fade', controlNav: true, directionNav: true, controlsContainer: '.flex-container', });
     $("#adslide").orbit({animation: 'fade', directionalNav: false, advanceSpeed: 6000, });
    </script>
    {% endblock %}
</body>
</html>