  <!-- Footer -->
<footer>
      <div class="row">
        <div class="three columns">
          <img src="{{ MEDIA_URL }}/images/logo.png" alt="">
        </div>
        <div class="five columns">
          <p>PREFEITURA MUNICIPAL DE FLORIANO <br><br>
          Praça Petrônio Portela, S/N - Centro -  CEP: 64800-000 - Floriano - PI - BRASIL <br>Telefone: +55 81 3121-2100 / +55 81 3121-2101
          </p>
        </div>
        <div class="four columns">
          <ul class="inline-list"id="social">
             <li><a href="https://www.facebook.com/pages/Prefeitura-Municipal-de-Floriano/712991192120413?ref=hl" target="_blank" id="facebook">Facebook</a></li>
             <li><a href="#" target="_blank" id="youtube">Youtube</a></li>
             <li><a href="#" target="_blank" id="twitter">Twitter</a></li>
             <li><a href="#" target="_blank" id="gplus">Gplus</a></li>
             <li><a href="#" target="_blank" id="rss">RSS</a></li>

           </ul>
        </div>
      </div>
  </footer>