
  <header>
    <div id="topy"></div>
    <div class="row">
      <div class="three columns">
        <div class="logo">
          <h1><a href="/"><img src="{{ MEDIA_URL }}images/logo-footer.png" /></a></h1>
        </div>
      </div>

      <div class="six columns mobile-off">
        <div id="adslide">
          {% for banner in banner_topo %}
          {% if banner.url %}<a href="{{ banner.url }}">{% endif %}<img src="{{ MEDIA_URL }}{{ banner.arquivo }}" />{% if banner.url %}</a>{% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="three columns">
        <div class="search">
            <form action="{% url 'apps.materias.views.busca' %}" method="get">
                <input type="text" placeholder="Buscar no site" name="q"/>
                <button class="lupa button" type="submit"></button>
            </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <nav class="top-bar">
          <ul>
            <li class="name"><h1><a href="{% url 'floriano.views.home' %}"><img src="{{ MEDIA_URL }}images/home.png" alt=""></a></h1></li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
          <section>
            <ul class="left">
              <li class=""><a href="{% url 'apps.cidade.views.cidade' %}">a cidade</a> </li>
              <li class=""><a href="{% url 'apps.servicos.views.servicos' %}">servicos</a> </li>

                <li class="has-dropdown">
                <a href="#">secretarias</a>

                <ul class="dropdown">
                  {% for secretaria in secretarias %}
                  <li><a href="{{ secretaria.get_absolute_url }}">{{ secretaria.nome }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class=""><a href="{% url 'apps.servicos.views.equipe' %}">equipe</a> </li>
              <li class=""><a href="http://www.responsabilidadefiscal.org/new_layout/index.php?codCliente=FLO" target="blank">transparência</a> </li>
              <li class=""><a href="{% url 'floriano.views.contato' %}">contato</a> </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </header>