    <aside class="three columns mobile-off">
        <div id="ferramentas">
          <ul class="side-nav">
            {% for servico in servico_sidebar %}
            <li><a href="{{ servico.get_absolute_url }}"><i id="{{ servico.classe_icone }}"></i><h6>{{ servico.nome }}</h6></a></li>
            {% endfor %}
          </ul>
        </div>

        <div id="mapaobra">
          {% if banner_sidebar.0.url %} <a href="{{ banner_sidebar.0.url }}">{% endif %}
            <embed src="{{ MEDIA_URL }}{{ banner_sidebar.0.arquivo }}" alt="{{ banner_sidebar.0.titulo }}">
          {% if banner_sidebar.0.url %} </a>{% endif %}
        </div>

        <div id="facepile">
          <div class="fb-like-box" data-href="https://www.facebook.com/pages/Prefeitura-Municipal-de-Floriano/712991192120413?ref=hl" data-width="255" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>


          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=169873893162868";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

        </div>
      </aside>