{% extends "elements/base.html" %}

{% block title %}Error 404{% endblock %}

{% block content %}
     <div class="nine columns">
          <div class="panel sobre">
                <div id="ops">
                  <div class="row">
                    <div class="seven columns centered">
                      <h1>
                      <img src="{{ MEDIA_URL }}images/erro404.png" />
                      </h1>
                    </div>
                  </div>

                  <div class="row">
                    <div class="seven columns centered">
                         <h5>Parece que a pagina que a pagina que você estava tentando acessar, não esta mais aqui!</h5>
                         <a href="{% url 'floriano.views.home' %}" class="button success">Voltar para pagina incial</a>
                    </div>
                  </div>
                </div>
          </div>
     </div>
{% endblock %}