{% extends 'elements/base.html' %}


{% block content %}

      <div class="nine columns">
        <div class="flexslider" id="main-slider">
          <ul class="slides">
            {% for slide in slides %}
            <li>
                <a href="{{ slide.get_absolute_url }}">
                    <img src="{{ slide.get_destaque_principal }}" alt="placeholder+image">
                    <span class="flex-caption">{{ slide.titulo }}</span>
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <section class="row mobile-on">
          <div class="twelve columns">
            <div id="ferramentas">
              <ul class="side-nav">
              {% for servico in servico_sidebar %}
                <li><a href="{{ servico.get_absolute_url }}"><i id="{{ servico.classe_icone }}"></i><h6>{{ servico.nome }}</h6></a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </section>
        <section class="row">
          <div class="four columns">
            <div class="bloco-news">
              <a href="{{ destaque1.0.get_absolute_url }}">
                <img src="{{ destaque1.0.get_destaque_small }}" alt="{{ destaque1.0.titulo }}">
                <h3>{{ destaque1.0.chapeu }}</h3>
                <p>{{ destaque1.0.titulo }}</p>
              </a>
            </div>
          </div>

          <div class="four columns">
            <div class="bloco-news">
              <a href="{{ destaque2.0.get_absolute_url }}">
                <img src="{{ destaque2.0.get_destaque_small }}" alt="{{ destaque2.0.titulo }}">
                <h3>{{ destaque2.0.chapeu }}</h3>
                <p>{{ destaque2.0.titulo }}</p>
              </a>
            </div>
          </div>

          <div class="four columns">
            <div class="bloco-news">
              <a href="{{ destaque3.0.get_absolute_url }}">
                <img src="{{ destaque3.0.get_destaque_small }}" alt="{{ destaque3.0.titulo }}">
                <h3>{{ destaque3.0.chapeu }}</h3>
                <p>{{ destaque3.0.titulo }}</p>
              </a>
            </div>
          </div>
        </section>

        <section class="row mobile-off">
          <figure class="twelve columns">
            {% if banner_medio.0.url %} <a href="{{ banner_medio.0.url }}">{% endif %}
            <embed src="{{ MEDIA_URL }}{{ banner_medio.0.arquivo }}" alt="{{ banner_medio.0.titulo }}" width="690" height="118">
            {% if banner_medio.0.url %} </a> {% endif %}
          </figure>
        </section>

        <section class="row">
          <div class="seven columns">
              <h3 class="label-title bu"><a href="{% url 'apps.materias.views.noticias' %}">últimas notícias</a></h3>
              <div class="bloco-white">
                {% for ultima in ultimas %}
                <div class="item">
                  <a href="{{ ultima.get_absolute_url }}">
                    <span>{{ ultima.publicado_em }}</span>
                    <p>{{ ultima.titulo }}</p>
                  </a>
                </div>
                {% endfor %}
              </div>
          </div>

          <div class="five columns mobile-off">
             <h3 class="label-title"><a href="{% url 'apps.multimidia.views.videos' %}">vídeos</a></h3>
                <div class="flex-video">
                 <iframe width="420" height="312" src="http://www.youtube.com/embed/{{ videos.0.video_id }}" frameborder="0" allowfullscreen></iframe>
                </div>
          </div>
        </section>

        <section class="row mobile-off">
          <div class="twelve columns" >
            <h3 class="label-titleg"><a href="{% url 'apps.multimidia.views.central_albuns' %}">galeria de fotos</a></h3>
            <div class="row">
              <div class="seven columns">
                <div class="album-thumb bigf">
                  <a href="{{ albuns.0.get_absolute_url }}" title="{{ albuns.0.titulo }}">
                    <img src="{{ albuns.0.get_big }}" width="100%" alt="{{ albuns.0.titulo }}" title="{{ albuns.0.slug }}">
                    <span class="caption big-caption" title="{{ albuns.0.slug }}">{{ albuns.0.titulo }}</span>
                  </a>
                </div>
              </div>

              <div class="five columns">
                <div class="album-thumb smallf">
                  <a href="{{ albuns.1.get_absolute_url }}" title="{{ albuns.1.titulo }}">
                    <img src="{{ albuns.1.get_medium }}" width="100%" alt="{{ albuns.1.titulo }}" title="{{ albuns.1.slug }}">
                    <span class="caption small-caption" title="{{ albuns.1.slug }}">{{ albuns.1.titulo }}</span>
                  </a>
                </div>

                <div class="album-thumb smallf">
                  <a href="{{ albuns.2.get_absolute_url }}" title="{{ albuns.2.titulo }}">
                      <img src="{{ albuns.2.get_medium }}" width="100%" alt="{{ albuns.2.titulo }}" title="{{ albuns.2.slug }}">
                      <span class="caption small-caption" title="{{ albuns.2.slug }}">{{ albuns.2.titulo }}</span>
                   </a>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

{% endblock %}
