{% extends "elements/base.html" %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block content %}
    <div class="nine columns">
        <h3 class="label-title"><a>{{ flatpage.title }}</a></h3>
          <div class="panel sobre">
            <div class="row">
              <div class="twelve columns">
                  {{ flatpage.content }}
              </div>
            </div>
         </div>
      </div>

{% endblock %}